body {
  width: 100vw;
  height: 100vh;
}
h1 {
  text-align: center;
  font-size: 3.8em;
  margin-bottom: 10px;
}
h2 {
  text-align: center;
}
form {
  height: 60px;
}
.content {
  display: block;
  margin: 0 auto;
  margin-top: 85px;
  width: 500px;
  padding: 20px;
  border-radius: 15px;
}
.content input {
  width: 100%;
  margin-bottom: 20px;
  background-color: transparent;
  color: white;
}
.btn {
  background-color: transparent;
  transition: 200ms ease-in-out;
}
.btn:hover {
  background-color: #212529;
}
.col-sm-8 {
  width: 62%;
}
.subheader {
  font-size: 1.6em;
  text-align: center;
}
.main-temp {
  line-height: 50px;
  position: relative;
  right: 30px;
}

.main-temp h1 {
  font-size: 7em;
}
.col-6 p {
  text-align: center;
  font-size: 1.3em;
  line-height: 30px;
}
.fahrenheit {
  font-size: 2em;
  color: #212529;
  text-decoration: none;
  position: relative;
  bottom: 125px;
  left: 168px;
}

.col-6 {
  height: 150px;
}
.col-12.other-temps {
  text-align: center;
}
.high-low-main {
  font-size: 1.2em;
}
.feels-like-text {
  font-size: 1.3em;
}
.info {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 15px;
}
.weather-forecast {
  text-align: center;
  height: 100px;
  margin-bottom: 10px;
}
.forecast-icon {
  width: 100%;
}
.forecast-temps {
  font-size: 0.93em;
}
.forecast-high {
  font-weight: bold;
}
.open-source {
  text-align: center;
  font-weight: bold;
  margin-top: 10px;
}
.night-mode {
  background: linear-gradient(
    to bottom,
    rgb(34, 34, 34),
    rgb(0, 40, 60),
    rgb(0, 143, 213)
  );
}

.night-mode,
.content {
  background-color: rgba(228, 228, 228, 0.815);
  color: #bebebe;
}

.night-mode h1 {
  color: #bebebe;
}

.sunset {
  background: linear-gradient(to top, rgb(255, 7, 7), rgb(255, 255, 5));
}
.sunset,
.content {
  background-color: rgba(27, 27, 27, 0.397);
  color: rgb(26, 26, 26);
}

.sunset h1 {
  color: rgb(26, 26, 26);
}
.day-mode {
  background: linear-gradient(
    to top,
    rgb(238, 254, 183),
    rgb(169, 254, 222),
    rgb(90, 222, 255)
  );
}

.day-mode,
.content {
  background-color: rgba(161, 211, 192, 0.336);
  color: #383838;
}
.day-mode h1 {
  color: #383838;
}
.day-mode .btn {
  border-color: #383838;
}
.day-mode .btn:hover {
  background-color: #383838;
}

.sunrise {
  background: linear-gradient(to top, rgb(248, 250, 107), rgb(238, 148, 148));
}

.sunrise,
.content {
  background-color: rgba(197, 103, 103, 0.26);
  color: rgb(56, 56, 56);
}
.sunrise .btn {
  border-color: rgb(133, 133, 133);
}
.sunrise .btn:hover {
  background-color: rgb(133, 133, 133);
}

.sunrise h1 {
  color: rgb(56, 56, 56);
}

#icon-image {
  width: 100%;
  position: relative;
  bottom: 30px;
  left: 30px;
}
#high-temp {
  font-weight: bolder;
}
