h1 {
  text-align: center;
  font-size: 3.8em;
  color: #212529;
  margin-bottom: 10px;
}
h2 {
  text-align: center;
}
form {
  height: 60px;
}
.container {
  width: 500px;
  background-color: rgba(139, 148, 155, 0.685);
  padding: 20px;
  border-radius: 15px;
  position: fixed;
  top: 15%;
  left: 35%;
}
.container input {
  width: 100%;
  margin-bottom: 20px;
  background-color: transparent;
  color: white;
}

.btn {
  background-color: transparent;
}
.btn:hover {
  background-color: #212529;
}
.col-sm-8 {
  width: 62%;
}
.main-temp {
  margin-top: 0px;
}
.main-temp h1 {
  font-size: 6em;
}
.col-6 p {
  text-align: center;
  font-size: 1.3em;
  line-height: 30px;
}
.change-degrees {
  font-size: 1em;
  position: relative;
  left: 150px;
  bottom: 115px;
}
.f-link,
.c-link {
  color: #212529;
  text-decoration: none;
}
.f-link:focus,
.c-link:focus {
  text-decoration: underline;
}
.high-low-main {
  font-size: 0.8em;
  position: relative;
  bottom: 60px;
}
.feels-like-text {
  font-size: 1em;
  position: relative;
  bottom: 55px;
}

.description {
  line-height: 40px;
  margin-bottom: 20px;
  margin-top: 25px;
}
.fa-solid {
  scale: 1.6;
  text-align: center;
}
.col {
  text-align: center;
}
#background {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
#date-time {
  font-size: 1.6em;
  margin-top: 10px;
  text-align: center;
}
#wind {
  font-size: 0.95em;
}
